# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
#*.dll
!**/msvcr100d.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.axf

# Debug files
*.dSYM/

*.d
*.ld
*.mk
*.map

.metadata/**

*.*~
*.save
**/Debug/*
