div.inner_config {
  background-color:#eeeeee;
  width: 80%;
  margin: 0 auto;
  display:inline-block;
  text-align:left;
  padding:10px;
}


fieldset {
  display:inline-block;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  border: 2px groove;
  margin: 0 auto;
  border-radius: 6px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 6px;
}

input[type=text]:focus {
  border: 3px solid #555;
  background-color: lightgray;
}

