div.inner_actuadores {
  background-color:#eeeeee;
  width: 460px;
  height: 100%;
  margin: 0 auto;
  display:inline-block;
  text-align:left;
  padding:0px;

}
div.inner_sensores {
  background-color:#eeeeee;
  width: 230px;
  height: 100%;
  margin: 0 auto;
  display:inline-block;
  text-align:left;
  padding:5px;
}

div.inner_alarmas {
  background-color:#eeeeee;
  width: 430px;
  height: 100%;
  margin: 0 auto;
  display:inline-block;
  text-align:left;
  padding:5px;


}



/*---------------------------*/
/*	  Tables	               */
/*---------------------------*/

table.fixed {
  table-layout:fixed;
  border: 1px solid #ddd;
}

table.fixed th, td {
  overflow: hidden;
  background-color:#eeeeee;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right:5px;
  padding-left:5px;
  height: 40px;
}

/*------------------------------*/
/*  Table class actuadores	*/
/*------------------------------*/



table td.actuadorVerde {
  background-color:green;
  color:white;

}

table td.actuadorRojo {
  background-color:red;
  color:black;
}

table td.alarmaVerde {
  background-color:green;
  color:white;

}

table td.alarmaRojo {
  background-color:red;
  color:black;
}

table td.alarmaAmarillo {
  background-color:lightgray;
  color:black;
}


/*------------------------------*/
/*  Table class sensores	*/
/*------------------------------*/

table.sensores th {
  background-color:#eeeeee;
  color:black;
  padding-bottom: 10px;
  text-align: center;
  height: 20px;
}

table.sensores td {
  padding: 5px;
  text-align: right;
  height: 2em;
}


iframe.section{
  display:inline;
  position:static;
  width:400px;height:400px;
  border:1px solid black;
}
