div.inner_sensores {
  background-color:#eeeeee;
  width: 230px;
  height: 100%;
  margin: 0 auto;
  display:inline-block;
  text-align:left;
  padding:5px;
  float:left;
}

div.inner_actuadores {
  background-color:#eeeeee;
  width: 460px;
  height: 100%;
  margin: 0 auto;
  display:inline-block;
  text-align:left;
  padding:5px;
  float:right;
}


div.inner_alarmas {
  background-color:#eeeeee;
  width: 430px;
  height: 100%;
  margin: 0 auto;
  display:inline-block;
  text-align:left;
  padding:5px;
  float:right;
}



/*---------------------------*/
/*	  Tables	               */
/*---------------------------*/

table.fixed {
  table-layout:fixed;
  border: 1px solid #ddd;
  border-radius: 6px;
}

table.fixed th, td {
  overflow: hidden;
  background-color:#eeeeee;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right:5px;
  padding-left:5px;
  height: 40px;
}

/*------------------------------*/
/*  Table class actuadores	*/
/*------------------------------*/



table td.actuadorVerde {
  background-color:green;
  color:white;
  border-radius: 6px;

}

table td.actuadorRojo {
  background-color:red;
  color:black;
  border-radius: 6px;
}

table td.alarmaVerde {
  background-color:green;
  color:white;
  border-radius: 6px;

}

table td.alarmaRojo {
  background-color:red;
  color:black;
  border-radius: 6px;
}

table td.alarmaAmarillo {
  background-color:lightgray;
  color:black;
  border-radius: 6px;
}


/*------------------------------*/
/*  Table class sensores	*/
/*------------------------------*/

table.sensores th {
  background-color:#eeeeee;
  color:black;
  padding-bottom: 10px;
  text-align: center;
  height: 20px;
}

table.sensores td {
  padding: 5px;
  text-align: right;
  height: 2em;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
