
div.inner_sensores {
  background-color:#eeeeee;
  width: 590px;
  height: 100%;
  margin: 0 auto;
  display:inline-block;
  text-align:left;
  padding:5px;
  float:left;
}

div.inner_actuadores {
  background-color:#eeeeee;
  width: 280px;
  height: 100%;
  margin: 0 auto;
  display:inline-block;
  text-align:left;
  padding:5px;
  float:right;
}

div.inner_alarmas {
  background-color:#eeeeee;
  width: 280px;
  height: 100%;
  margin: 0 auto;
  display:inline-block;
  text-align:left;
  padding:5px;
  float:right;
}



/*---------------------------*/
/*	  Tables	               */
/*---------------------------*/

table.fixed {
  table-layout:fixed;
  border: 1px solid #ddd;
  padding-right:5px;
  border-radius: 6px;

}

table.fixed th, td {
  overflow: hidden;
  background-color:#eeeeee;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right:5px;
  padding-left:5px;
  height: 40px;
  border-radius: 6px;
}

/*------------------------------*/
/*  Table class actuadores	*/
/*------------------------------*/



table td.actuadorVerde {
  background-color:green;
  color:white;
  border-radius: 6px;

}

table td.actuadorRojo {
  background-color:red;
  color:black;
  border-radius: 6px;
}

table td.alarmaVerde {
  background-color:green;
  color:white;
  border-radius: 6px;

}

table td.alarmaRojo {
  background-color:red;
  color:black;
  border-radius: 6px;
}

table td.alarmaAmarillo {
  background-color:lightgray;
  color:black;
  border-radius: 6px;
}
